* {
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

#calculator{
    height: 500px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9dc5cff;
    border-radius: 10px;
}

button{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #011936ff;
    margin-bottom: 15px;
    margin-left: 10px;
    position: relative;
    top: 60px;
    left: 30px;
    border-style: none;
    color: blueviolet;
}

button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
    transition: background 0.5s; /* This creates a smooth transition effect when the mouse hovers over the button */
}

#equal-to{
    width: 105px;
    border-radius: 50px;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#result{
    width: 250px;
    height: 80px;
    background-color: #011936ff;
    font-size: 55px; /* 4.167vw*/
    font-family: 'Radioland';
    text-align: right;
    display: flex;
    align-items: center;
    position: relative;
    outline: none;
    border: 0;
    color: pink;
    left: 25px;
    top: 30px;
}

.first{
    margin-top: 0;
}

h1{
    font-size: 17px;
    font-family: 'Saira Condensed', sans-serif;
    margin: 0px 59px;
    position: relative;
    top: -5px;
    color: white;
}

i{
    margin: 0px 20px;
    color: white;
}

i:hover{
    color: black;
    cursor: pointer;
    transition: background 0.5s; /* This creates a smooth transition effect when the mouse hovers over the button */
}

.fas fa-bars{
    position: relative;
    right: 500px;
}

#add, #multiply, #subtract, #percent, #divide{
    background-color: white;
    color: grey;
}

#c, #delete{
    background-color: #ED254EFF;
}


#add:hover, #multiply:hover, #subtract:hover, #percent:hover, #divide:hover, #c:hover, #delete:hover{
    background-color: #011936ff;
    cursor: pointer;
    color: white;
    transition: background 0.5s; /* This creates a smooth transition effect when the mouse hovers over the button */
}
