/* This removes the arrow found at the end of the input  type = number tag */ 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*****************************************************************************/

body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
}

@keyframes glowing {
    0% {
        background-color: white;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: red;
    }
}

.read{
    animation: glowing 10ms infinite;
}

.container{
    background-color: white;
    width: 60%;
    padding: 0 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.container h1{
    text-align: center;
    font-size: 3vw;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 0 0 0;
}

button{
    width: 30%;
    height: 20%;
    background-color: green;
    color: white;
    outline: none;
}

button:hover{
    background-color: rgb(67, 128, 67);
    cursor: pointer;
}

.submit{
    display: flex;
    justify-content: center;
    padding: 3% 0 0 0;
}

input{
    width: 20%;
}